.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.spinner-container {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.spinner {
  width: 45px;
  height: 45px;
  border: 4px solid rgba(138, 48, 255, 0.1);
  border-radius: 50%;
  border-top-color: #0054da;
  border-left-color: #0054da;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  position: absolute;
  top: 0;
  left: 0;
}

.spinner-inner {
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-right-color: #0062ff;
  border-bottom-color: #0062ff;
  animation: spin 0.8s cubic-bezier(0.5, 0, 0.5, 1) infinite reverse;
  position: absolute;
  top: 10px;
  left: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 18px;
  color: var(--text-color);
  letter-spacing: 0.5px;
  position: relative;
  font-weight: 500;
}

.dot {
  opacity: 0;
  animation: dot-animation 1.4s linear infinite;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}

@keyframes dot-animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
